<htlm>
    <head>
        <title>The Vancraeyvelds</title>
        <style>
            body { 
                background-color:rgb(0, 0, 0);
             }
        </style>
    </head>
    <body>
<h1 style="color:rgb(4, 135, 191);">Bonjour et bienvenue</h1>
    <h1 style="color:rgb(4, 104, 181);">sur le site officiel des Vancraeyvelds</h1>
    <h2 style="color:rgb(4, 81, 181);">ceci sont les membres de la famille:</h2>
    <ul>
             <h4 style="color:rgb(255, 3, 141);"><li><a href="{{ url_for('julia')}}">Julia Vancraeyveld</a></li>
             <h4 style="color:rgb(214, 2, 140);"><li><a href="{{ url_for('saar')}}">Saartje Vancraeyveld</a></li></h4>
             <h4 style="color:rgb(189, 4, 149);"><li><a href="{{ url_for('michiel')}}">Michiel Vancraeyveld</a></li></h4>
             <h4 style="color:rgb(186, 4, 189);"><li><a href="{{ url_for('pieter')}}">Pieter Vancraeyveld</a></li></h4>
             <h4 style="color:rgb(142, 4, 189);"><li><a href="{{ url_for('frank')}}">Frank Vancraeyveld</a></li></h4>
             <h4 style="color:rgb(102, 4, 189);"><li>Florent Vancraeyveld</li></h4>
             <h4 style="color:rgb(75, 4, 189);"><li>Leon Vancraeyveld</li></h4>
    </ul>  
    <h2 style="color:rgb(5, 8, 171);">Notre famille est connu pour notre don de pété non-stop :)</h2>
    </body>
    </htlm>